*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/ios/Pods/Target Support Files/common/common.debug.xcconfig
/ios/Pods/Local Podspecs/common.podspec.json
/ios/Pods/Target Support Files/common/common.release.xcconfig
/ios/ios.xcworkspace/contents.xcworkspacedata
/ios/ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/Pods/Manifest.lock
/ios/Podfile.lock
/ios/Pods/Target Support Files/Pods-ios/Pods-ios.debug.xcconfig
/ios/Pods/Target Support Files/Pods-ios/Pods-ios.modulemap
/ios/Pods/Target Support Files/Pods-ios/Pods-ios.release.xcconfig
/ios/Pods/Pods.xcodeproj/xcuserdata/
/ios/Pods/Target Support Files/Pods-ios/Pods-ios-acknowledgements.markdown
/ios/Pods/Target Support Files/Pods-ios/Pods-ios-acknowledgements.plist
/ios/Pods/Target Support Files/Pods-ios/Pods-ios-dummy.m
/ios/Pods/Target Support Files/Pods-ios/Pods-ios-Info.plist
/ios/Pods/Target Support Files/Pods-ios/Pods-ios-umbrella.h
/ios/Pods/Pods.xcodeproj/project.pbxproj
/ios/ios.xcworkspace/xcuserdata
